@model SG_SST.Models.AdminUsuarios.CambiarClaveModel
@{
    ViewBag.Title = "Cambiar Clave";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DateTime user = ViewBag.mensajeUsu;
}
@if (user != null && user < DateTime.Now)
{
    <script type="text/javascript">
        swal({
            title: 'Atención',
            text: 'Estimado Usuario la contraseña se ha vencido, por favor cambiela',
            type: 'warning',
            confirmButtonColor: "#DD6B55",                              
        });
    </script>
}
<div class="panel panel-default" id="contenido" style="margin:100px">
    <div class="panel-heading" style="color:black">
        Cambiar clave de Acceso
    </div>
    @using (Html.BeginForm("CambiarClave", "AdminUsuarios", FormMethod.Post, new { @id = "formCambiarClave", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        <div class="panel-body form-horizontal">
            @Html.HiddenFor(x => x.IdUsuarioSession)
            <div class="row">
                <div class="col-md-5">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-1"></div>
                            <div class="col-md-6">
                                @Html.Label("Ingrese su nueva contraseña:", new { @class = "control-label" })
                                @Html.PasswordFor(x => x.Clave, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Clave, string.Empty, new { @class = "error" })
                                @Html.Label("Confirme su nueva contraseña:", new { @class = "" })
                                @Html.PasswordFor(x => x.ConfirmarClave, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.ConfirmarClave, string.Empty, new { @class = "error" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-1"></div>
                            <div class="col-md-11">
                                <a id="TerminosCodiciones" href="javascript:void(0);">Ver Términos y Condiciones</a>
                                @Html.HiddenFor(x => x.AceptaTerminosCondiciones, new { @Value = false, @class = "" })
                                @Html.HiddenFor(x => x.PrimerAcceso)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-1"></div>
                            <div class="col-md-11">
                                <p><input type="checkbox" class="formulario_check" id="acept" onclick="AceptarTerminos()">Acepto los Términos y Condiciones</p>
                                @*<p>Acepto los tèrminos    <input type="radio" name="deacuerdo" value="si" id="acept" onclick="AceptarTerminos()"></p> 
                                <p>No Acepto los tèrminos <input type="radio" name="deacuerdo" value="no" onclick="NoAceptarTerminos()"></p>*@
                            </div> 
                        </div>
                        @{var acceso = Model.PrimerAcceso;}
                        @if (acceso == true) 
                        {                            
                        <div class="form-group">
                            <div class="col-md-1"></div>
                            <div class="col-md-11">
                                <button type="submit" class="boton botonactive" disabled id="cambClav">Cambiar</button>
                            </div>
                        </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <div class="col-md-1"></div>
                                <div class="col-md-11">
                                    <button type="submit" class="boton botonactive" id="cambClav">Cambiar</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-1"></div>
                            <div class="col-md-11">
                                <h3>La contraseña debe cumplir las siguientes condiciones:</h3>
                                <p>1. Una longitud entre 6 y 15 caracteres.</p>
                                <p>2. Al menos un caracter especial (,*+-;()[]@@#$).</p>
                                <p>3. AL menos una letra minúscula.</p>
                                <p>4. Al menos una letra mayúscula.</p>
                                <p>5. Al menos un número.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@{
    if (ViewBag.Mensaje != null)
    {
        <script type="text/javascript">
            swal({
                title: 'Atención',
                text: '@ViewBag.Mensaje',
                type: 'warning',
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Aceptar",
                closeOnConfirm: false,
                closeOnCancel: false
            });//,
            //function (isConfirm) {
            //    if (isConfirm) {
            //        window.location.href = '../Home/Index';
            //    }
            //});
        </script>
    }
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#formCambiarClave input[type="password"]').on('focus', function () {
            $(this).siblings('span').hide();
        });
        //carga el archivo de términos y condiciones en un fancybox
        $('#TerminosCodiciones').on('click', function () {
            var urlBase = utils.getBaseUrl();
            $.ajax({
                url: 'CargarTerminosCondiciones',
                type: 'post'
                //data: { identificador: nid, tipoSoporte: tipoSop }
            }).done(function (response) {
                if (response) {
                    $.fancybox({
                        type: 'html',
                        autoSize: false,
                        content: '<embed src="' + urlBase + response.url + '#nameddest=self&page=1&view=FitH,0&zoom=80,0,0" type="text/html" height="99%" width="100%" />',
                        //content: '<embed src="' + response.url + '#nameddest=self&page=1&view=FitH,0&zoom=80,0,0" type="application/pdf" height="99%" width="100%" />',
                        beforeClose: function () {
                            $(".fancybox-inner").unwrap();
                        }
                    }); //fancybox
                }
            }).error(function (response) {

            });
        });
        $('#formCambiarClave').on('submit', function () {
            var primerAcceso = $('#PrimerAcceso').val();
            if (($('#AceptaTerminosCondiciones').val() == '' || $('#AceptaTerminosCondiciones').val() == 'False') && primerAcceso == 'True') {
                swal({
                    title: "Atención",
                    text: "Señor Usuario; no ha aceptado los términos y condiciones de Alissta Gestión a Tu Alcance. Sin su aceptación no es posible autenticarse en el sistema.",
                    type: "warning",
                    //showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    //confirmButtonText: "Aceptar",
                    closeOnConfirm: false
                });
                return false;
            }
        });
    });
    function AceptarTerminos() {
        $('#AceptaTerminosCondiciones').val(true);
        $('#cambClav').attr('disabled', false);
        //$.fancybox.close();
    }
    function NoAceptarTerminos() {
        var urlBase = utils.getBaseUrl();
        $('#AceptaTerminosCondiciones').val(false);
        //$.fancybox.close();
        //window.location.href = urlBase + '/Home/CerrarSesion';
    }
</script>